body{
  margin:  0px;
}
*{
  padding: 0px;
  margin: 0px;
}
.btn{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
.container{
  padding: 0 1rem;
  width: 50%;
  margin: auto;
  text-align: center;
}